/* footer */

.footer {
    background-color: $footer-bg;
    @media screen and (max-width: $desktop) {
        text-align: center;
        .social-networks {
            justify-content: center;
        }
    }
    @media screen and (min-width: $desktop) {
        text-align: left;
        .social-networks {
            justify-content: flex-start;
        }
    }
    &>.container {
        padding-top: 60px;
        padding-bottom: 60px;
        @media screen and (min-width: $tablet) {
            display: flex;
            @media screen and (max-width: $desktop) {
                flex-flow: wrap;
            }
        }
        @media screen and (min-width: $desktop) {
            justify-content: space-between;
            flex-flow: nowrap;
        }
    }
    .logo.link {
        @media screen and (max-width: $before-desktop) {
            font-size: 24px;
            line-height: 1.167;
        }
        display: inline-block;
        margin-bottom: 20px;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        .contacts {
            flex-basis: 50%;
            // margin-left: 61px;
            // margin-right: 165px;
        }
        .social-links {
            flex-basis: 50%;
            padding-top: 5px;
        }
        .subscription {
            // flex-basis: 738px;
            flex-basis: 100%;
            padding-top: 0px;
        }
    }
    @media screen and (max-width: $desktop) {
        .contacts,
        .social-links {
            margin-bottom: 60px;
        }
    }
    @media screen and (min-width:$desktop) {
        .contacts,
        .social-links {
            flex-basis: calc((1200px - 30px * 3) / 4);
            margin-bottom: 0;
        }
        .social-links,
        .subscription {
            padding-top: 20px;
        }
    }
    @media screen and (min-width:$desktop) {
        .subscription {
            flex-basis: calc((1200px - 30px * 2) / 2);
        }
    }
    .img-link {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .icon {
        fill: #ffffff;
    }
    .footer-tagline {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .btn {
        padding: 10px 28px 10px 29px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        /* border: none; */
        @media screen and (min-width: $desktop) {
            margin-left: 12px;
        }
    }
    .submit {
        @media screen and (min-width: $desktop) {
            display: flex;
        }
    }
    form {
        width: 100%;
        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            display: block;
            max-width: 450px;
            margin: 0 auto;
        }
        @media screen and (min-width: $desktop) {
            margin: 0;
            max-width: 100%;
        }
    }
    .email-input {
        // max-width: 358px;
        width: 100%;
        display: block;
        padding: 15px 16px;
        /* margin: 0; */
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        line-height: 1.25;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: transparent;
        @media screen and (max-width: $desktop) {
            margin-bottom: 20px;
        }
        @media screen and (min-width: $desktop) {
            margin-bottom: 0;
        }
    }
}

.contacts-info {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
    p {
        color: $primary-white-color;
        margin: 0;
    }
}

.contacts-info .link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer-tagline {
    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.contacts .list-item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: $desktop) {
        margin-bottom: 9px;
    }
}

.footer .email-input:placeholder-shown {
    font-size: 16px;
    line-height: 1.25;
    /* identical to box height, or 125% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscription .icon {
    margin-left: 10px;
    fill: #ffffff;
}