/* header */

.site-header .display-flex {
    align-items: center;
}

.site-header {
    position: relative;
    border-bottom: 1px solid #ececec;
    .site-nav {
        @media screen and (max-width: $tablet) {
            display: none;
        }
        @media screen and (min-width: $tablet) {
            display: flex;
        }
    }
    .contacts-list {
        @media screen and (max-width: $tablet) {
            display: none;
        }
        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        @media screen and (min-width: $desktop) {
            flex-direction: row;
        }
    }
    .icon.desktop {
        @media screen and (max-width: $desktop) {
            display: none;
        }
        @media screen and (min-width: $desktop) {
            display: block;
        }
    }
    .icon.tablet {
        @media screen and (min-width: $desktop) {
            display: none;
        }
    }
}

.site-nav .logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    @media screen and (min-width: $tablet) {
        margin-right: 88px;
    }
    @media screen and (min-width: $desktop) {
        margin-right: 85px;
    }
}

.site-nav>.list>.menu-item+.menu-item {
    margin-left: 50px;
}

.site-header .contacts-list>.contacts-item:not(:last-child) {
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        margin-bottom: 10px;
    }
    @media screen and(min-width: $desktop) {
        margin-right: 30px;
        margin-bottom: 0px;
    }
}

.site-nav .link {
    color: $title-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.site-nav .menu-item,
.contacts-list .contacts-item {
    @media screen and (min-width: $tablet) {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.167;
        /* identical to box height */
        letter-spacing: 0.02em;
    }
    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.142;
    }
}

.contacts-list .contacts-link {
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-header>.container .contacts-list {
    margin-left: auto;
}

.contacts-link.link:hover,
.contacts-link.link:focus {
    color: $accent-color;
}

.menu-item>.link {
    display: block;
    padding: 32px 0px;
}

.link.active {
    position: relative;
    color: $accent-color;
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        border: 2px solid $accent-color;
        border-radius: 2px;
        background-color: $accent-color;
    }
}

.contacts-link>.icon {
    margin-right: 10px;
    fill: currentColor;
}